@font-face {
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 400;
  src: local('Fenix'), local('Fenix-Regular'), url(./font/LMR26m3ig6mlUgQqjj1qMKCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

